/* Style of the tables on the left side  */
.left-side {
	fill: red;
	stroke: red;
}

/* Style the tables on the right side */
.right-side {
	fill: red;
	stroke: red;
}

svg{
	padding-left: 1cm;
}

h1{
	font-size: 20px;
	text-align: center;
	padding-bottom: 2cm;
}

