#chat {
  position: fixed;
  text-align: right;
  bottom: 0;
  right: 0;
  width: 350px;
}

#chat-box {
  text-align: left;
  border: 1px solid black;
  background-color: white;
  padding-left: 30px;
  padding-bottom: 20px;
  display: none;
}

#chat-area {
  margin-top: 20px;
  margin-bottom: 30px;
}

#chat > button {
  text-align: left;
  border: 1px solid black;
  background-color: white;
  font-size: 14px;
  padding: 4px;
  width: 60%;
}

.categoryBtn {
  background-color: yellow;
}

/* Space out the cells in the table */
#categories {
  border-spacing: 20px;
  border-collapse: separate;
}